beautifulsoup4
dotenv
enlighten
hmmlearn
jupyter
matplotlib
numba
numpy
openpyxl
pandas
plotly
pydantic
pymc
pytest
python-dotenv
SALib
scikit-learn
scipy
sdv
seaborn
statsmodels
sympy
tqdm
typer
xarray
openpyxl
