numpy
pandas
scipy
pydantic>=2
matplotlib
seaborn
plotly
numba
xarray
SALib
statsmodels
pymc
sympy
tqdm
typer
enlighten
pathos
pyarrow
fastparquet
jinja2
openpyxl
beautifulsoup4
python-dotenv
sdv
jupyter
scikit-learn
hmmlearn
pytest
pytest-cov
mypy
ruff
